/*Animation*/
*{
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
  transition: 0.4s;
}
@keyframes up {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-20px);
  }
}
@keyframes fall {
  from{
    transform: translateY(-50px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes circle {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1.2)
  }
}
@keyframes letright {
  from{
    transform: translateX(-10px);
    opacity: 0;
  }
  to{
    transform: translateX(30px);
    opacity: 1;

  }
}
.body{
  .slider-show{
    border-radius: 4px;
    width: 100%;
    height: 600px;
    overflow: hidden;
    top: 300px;
    left: 50%;
    background-color: #2d3436;
    .slides{
      border-radius: 4px;
      overflow: hidden;
      margin: auto;
      margin-top: 12px;
      background-color: #fab1a0;
      height: 100%;

      .ip-radio{
        position: absolute;
        visibility: hidden;

      }
      #r1:checked ~ .group-slide{
        transform: translateY(0px);
      }
      #r2:checked ~ .group-slide{
        transform: translateY(-100%);

      }
      #r3:checked ~ .group-slide{
        transform: translateY(-200%);

      }
      #r4:checked ~ .group-slide{
        transform: translateY(-300%);

      }
      .group-slide{
        @apply w-full h-full;
        transition: 0.6s;
        .slide{
          width: 100%;
          transition: 0.6s;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    .navigation{
      position: absolute;
      top: 50%;
      left: 4%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      .bar{
        width: 20px;
        height: 20px;
        border: 2px solid white;
        border-radius: 40px;
        margin: 6px;
        transition: 0.4s;
        background-color: #2d3436;
        &:hover{
          background-color: white;
          border: 2px solid black;
          cursor: pointer;
        }
      }

    }
  }
  .section-brand{
    @apply my-8 py-3 px-12 flex flex-col gap-5 justify-center items-center;
    .section-1{
      @apply grid grid-cols-3 gap-5;
      overflow: hidden;
      .brand{
        overflow: hidden;
        position: relative;
        .title-brand{
          cursor: pointer;
          position: absolute;
          top: 70%;
          color: white;
          font-size: 32px;
          left: 50%;
          transform: translate(-50%, -50%);
          &:hover{
            width: 70%;
            text-align: center;
            color: #2d3436;
            background-color: #dfe6e9;
            padding: 10px 24px;
            border-radius: 4px;
          }
        }
        &:hover{
          img{
            transform: scale(1.2);
          }
        }
      }
      .bran1{
        @apply col-span-2;
      }
      .bran2{
        @apply col-span-1;
      }
    }
    .section-2{
      @apply grid grid-cols-3 gap-5;
      overflow: hidden;
      .brand{
        overflow: hidden;
        position: relative;
        .title-brand{
          cursor: pointer;
          position: absolute;
          top: 70%;
          color: white;
          font-size: 32px;
          left: 50%;
          transform: translate(-50%, -50%);
          &:hover{
            width: 70%;
            text-align: center;
            color: #2d3436;
            background-color: #dfe6e9;
            padding: 10px 24px;
            border-radius: 4px;
          }
        }
        &:hover{
          img{
            transform: scale(1.2);
          }
        }
      }
    }
    .section{
      img{
        transition: 0.6s;
      }
    }
  }
  .space-product{
    @apply w-full p-5 rounded-xl;
    background-color: #dfe6e9;
    .title-content{
      @apply py-16 px-5 flex flex-row justify-between items-center text-xl text-white;
      width: 100%;
      background-image: url("http://localhost:1235/rp3.jpg");
      background-attachment: fixed;
      background-size: 300px;
      .text-head{
        .text-top{
          @apply text-3xl font-semibold;
        }
        .text-bottom{
          @apply text-lg opacity-50;
        }
      }
      .let-store{
        @apply px-12 py-5 rounded-full font-medium;
        background-color: #ff7675;
      }
      .let-store:hover .arrow{
        animation: letright ease 3s;
      }
    }
    .products{
      @apply grid grid-cols-4 gap-5 mt-10 cursor-pointer;
      .product{
        border-radius: 4px;
        overflow: hidden;
        .frame-img{
          height: 70%;
          overflow: hidden;
          .img-product{
            height: 100%;
            width: 100%;
            border-radius: 4px;
            &:hover{
              transform: scale(1.4);
            }
          }
        }
        .description{
          @apply flex flex-col p-5 text-white;
          height: 30%;
          background-color: #2d3436;
          .title-product{
            @apply text-xl;
          }
          .size{

          }
          .price{

          }
        }
      }
    }
  }
  .banner-section-1{
    @apply rounded-2xl mt-4;
    padding: 12px 5%;
    background-color: #b2bec3;

    .head-banner{
      @apply flex flex-row justify-center gap-8 px-8 py-5;
      border-radius: 6px;
      background-color: white;
      img{
        width: 40%;
      }
      .descript{
        @apply flex flex-col gap-5;
        width: 60%;
        .banner-title{
          @apply text-3xl;
          color: #ff7675;
        }
        .descript-text{
          font-size: 16px;
          line-height: 1.8;
        }
        .lk-shop{
          @apply text-xl;
          width: 30%;
          color: #2d3436;
          &:hover{
            color: #ff7675;
          }
        }
      }
    }
    .content-banner{
      @apply py-5;
      .products-banner{
        @apply grid grid-cols-5 gap-5;
        .product-banner{
          border-radius: 4px;
          overflow: hidden;
          @apply cursor-pointer;
          .about-product{
            img{

            }
          }
          .about-product:hover .detail-product{
            opacity: 0.5;
          }
          .detail-product{
            @apply px-3 text-white;
            border: dashed;
            border-width: 2px 4px;
            border-radius: 8px;
            .title-product{
              @apply text-base;
              margin: 0;
            }
            .detail{
              @apply flex flex-row justify-between items-center;
              .price{

              }
              .detail-i{
                @apply text-base ;
                &:hover{
                  @apply text-base;
                  color: #2d3436;
                }
              }
            }
          }
        }
      }
    }
  }
  .cicle-animation{
    @apply mt-4;
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    overflow: hidden;
    .circle{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 10px solid #74b9ff;
    }
    .one{
      animation: circle 2s infinite linear;
    }
    .two{
      animation: circle 1.5s infinite linear;
    }
    .three{
      animation: circle 1s infinite linear;
    }
  }
  .banner-section-2{
    @apply rounded-2xl my-4;
    padding: 12px 5%;
    background-color: #b2bec3;

    .head-banner{
      @apply flex flex-row justify-center gap-8 px-8 py-5;
      border-radius: 6px;
      background-color: white;
      img{
        width: 40%;
      }
      .descript{
        @apply flex flex-col gap-5;
        width: 60%;
        .banner-title{
          @apply text-3xl;
          color: #ff7675;
        }
        .descript-text{
          font-size: 16px;
          line-height: 1.8;
        }
        .lk-shop{
          @apply text-xl;
          width: 30%;
          color: #2d3436;
          &:hover{
            color: #ff7675;
          }
        }
      }
    }
    .content-banner{
      @apply py-5;
      .products-banner{
        @apply grid grid-cols-5 gap-5;
        .product-banner{
          border-radius: 4px;
          overflow: hidden;
          @apply cursor-pointer;
          .about-product{
            img{

            }
          }
          .about-product:hover .detail-product{
            opacity: 0.5;
          }
          .detail-product{
            @apply px-3 text-white;
            border: dashed;
            border-width: 2px 4px;
            border-radius: 8px;
            .title-product{
              @apply text-base;
              margin: 0;
            }
            .detail{
              @apply flex flex-row justify-between items-center;
              .price{

              }
              .detail-i{
                @apply text-base ;
                &:hover{
                  @apply text-base;
                  color: #2d3436;
                }
              }
            }
          }
        }
      }
    }
  }
}
